@media screen and (min-width: 800px) {
  #forkongithub { 
    display: hidden;
    top: 0;
    right: 20px;
    overflow: hidden;
    z-index: 9999;
  }

  #forkongithub a {
    position: absolute;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
  }
}

@media (max-width: 700px) {
  input {
    margin: 0 0 4px 0;
  }

  .box {
    width: 115px;
    height: 115px;
  }

  .hud {
    display: none;
  }

  .checkbox-container {
    display: flex;
  }
}